html {
  overflow-y: auto;
}

body {
  background: #fff;
  color: #000;
  font-family: Helvetica;
  height: auto;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
}

.typeahead {
  width: 100%;
}

textarea {
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid rgba(92, 184, 92, 1.0);
  box-shadow: none;
  outline: none;
  height: 6em;
}

.tt-dropdown-menu {
  overflow-y: auto;
  height: 450px;
  background-color: rgba(92, 184, 92, 0.1);
  border-radius: 4px;
  border: 1px solid rgba(92, 184, 92, 1.0);
  border-top: none !important;
  width: 136px !important;
}

.tt-suggestion > p, .tt-cursor > p {
  width: 136px !important;
}

.tt-cursor > p {
  background-color: rgba(92, 184, 92, 0.3);
  border-radius: 4px;
  width: 136px;
  margin-left: -1px;
}

[data-card-hash]:after {
  content: "\e034";
  position: relative;
  right: 0px;
  color: rgba(92, 184, 92, 1.0);
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
}

#card_expand {
  width: 1152px !important;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0px;
  z-index: 995;
}

#card_expand > p {
  overflow: visible;
}

div.container {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

div.container#top {
  position: fixed;
  background-color: white;
  height: 130px;
  z-index: 999;
  top: 0px;
}

div.container#card-container {
  margin-top: 145px;
  height: 1400px;
}

.container_16 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

#round_title {
  border: none;
  margin-bottom: 0px;
  position: relative;
  width: 90%;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}

#topic {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  text-align: center;
  z-index: 5;
  width: 100%;
  font-size: 1.2em;
  box-shadow: 0 !important;
  box-shadow: none;
}

#topic-dropdown-parent.open > #topic {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#topic-dropdown {
  width: 100%;
  margin-top: 0px;
  border-top: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 364px;
  margin-left: 15px;
}

#topic-dropdown > li > a {
  text-align: center;
}

#new_topic_button {
  margin-left: 30px;
  border-width: 1px;
  font-size: 1.2em;
  border-color: #000;
  max-height: 45px;
}

#sync_button {
  margin-left: 30px;
  border-width: 1px;
  font-size: 1.2em;
  border-color: #000;
  max-height: 45px;
}

#header {
  border: none;
  margin-top: 3em;
  z-index: 999;
}

.flag-instructions {
  color: rgba(92, 184, 92, 1.0);
}

#background_blocker {
  position: fixed;
  background-image: url('/img/white.gif');
  height: 12%;
  width: 100%;
  z-index: 3;
}

#cards {
  margin-top: 3em;
  z-index: 2;
}

#cards div {
  width: 11.5%;
  padding: 0px;
}

.card-col {
  margin-left: 5px;
  margin-right: 5px;
}

.debate_cell {
  padding: 0px;
}

.current_arrow_box {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3) !important;
  padding: 4px 0;
}

.arrow_base {
  background-color: rgba(92, 184, 92, 0.2) !important;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3) !important;
  padding: 4px 0 !important;
}

/*'#428bca', '#f0ad4e', '#5bc0de', '#d9534f'*/

.arrow_box_0 {
  border-bottom: 1px dashed #428bca !important;
  background-color: #428bca !important;
}

.arrow_box_1 {
  border-bottom: 1px dashed #f0ad4e !important;
  background-color: #f0ad4e !important;
}

.arrow_box_2 {
  border-bottom: 1px dashed #5bc0de !important;
  background-color: #5bc0de !important;
}

.arrow_box_3 {
  border-bottom: 1px dashed #d9534f !important;
  background-color: #d9534f !important;
}

.arrow_target_0 {
  border: 1px dashed #428bca !important;
}

.arrow_target_1 {
  border: 1px dashed #f0ad4e !important;
}

.arrow_target_2 {
  border: 1px dashed #d9534f !important;
}

.arrow_target_3 {
  border: 1px dashed #5bc0de !important;
}

.arrow_box_newcard {
  border-bottom: 0 !important;
  background-color: rgba(92, 184, 92, 0.2) !important;
}

.card {
  padding: 4px 0;
  background-color: #fff;
  border-bottom: 1px dashed black;
}

.cite {
  font-style: italic;
  border-top: 1px dashed black;
  margin-top: -10px;
  font-variant: small-caps;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px dashed black;
}

#header p {
  width: 100%;
}

#header div {
  height: 1em;
  width: 11.5%;
  padding: 0px;
}

.endpoint {
  height: 50px;
  width: 10px;
  z-index: 1;
}

.new_card {
  padding: 4px 0;
  border: 1px solid white;
}

.card-col:first-child .card,
.card-col:first-child .new_card,
.card-col:first-child .cite {
  border-left: 1px solid white;
}

.card-col:last-child .card,
.card-col:last-child .new_card,
.card-col:last-child .cite {
  border-right: 1px solid white;
}

#console {
  background-color: gray;
  color: black;
  font-weight: bold;
  font-variant: small-caps;
}

.unsafe_warning {
  background-color: black;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  position: fixed;
  top: 5px;
  z-index: 15;
}

#left_warning {
  left: 20px;
}

#right_warning {
  right: 20px;
  text-align: right;
}

.cardNum {
  position: absolute;
  margin-top: -1.6%;
  margin-left: 9%;
  color: #777;
  display: none;
}

.modal-text {
  border: 0;
}

.speechhed.active-speech {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #5cb85c;
}
