body {
  background: #fff;
  color: #000;
  font-family: Helvetica;
  height: auto;
  padding-bottom: 0px;
}

.newround_form {
  position: relative;
  left: 40%;
}

.header {
  position: relative;
  left: 30%;
  font-size: 3em;
}

.submit_button {
  position: relative;
  left: 40%;
}

.text_label {
  color: gray;
  font-weight: bold;
}