html {
  overflow-y: auto;
}

body {
  background: #fff;
  color: #000;
  font-family: Helvetica;
  height: auto;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  border: 1px solid black;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
}

textarea {
  width: 100%;
}

div.container {
  padding: 0 15px;
}

.container_16 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

#round_title {
  border: none;
  font-weight: bold;
  margin-bottom: 0px;
  position: relative;
  width: 90%;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}

#topic {
  background-color: #fff;
  color: #000;
  border: 5px solid black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  z-index: 5;
}

#new_topic_button {
  margin-left: 30px;
  border-width: 5px;
  font-size: 1.2em;
  border-color: #000;
  font-weight: bold;
  max-height: 45px;
}

#sync_button {
  margin-left: 30px;
  border-width: 5px;
  font-size: 1.2em;
  border-color: #000;
  font-weight: bold;
  max-height: 45px;
}

#new_topic {
  font-style: italic;
}

#header {
  border: none;
  margin-top: 3em;
  z-index: 5;
}

#background_blocker {
  position: fixed;
  background-image: url('/img/white.gif');
  height: 12%;
  width: 100%;
  z-index: 3;
}

#cards {
  margin-top: 3em;
  z-index: 2;
}

#cards div {
  width: 11.5%;
  padding: 0px;
}

.card-col {
  margin-left: 5px;
  margin-right: 5px;
}

.debate_cell {
  font-weight: bold;
  padding: 0px;
}

/*.aff {
  background-color: #fff;
  color: #000;
}*/

.neg {
  background-color: #000;
  color: #fff;
}

.cite {
  font-style: italic;
  border: 1px solid black;
  margin-top: -10px;
  border-top: none;
  font-variant: small-caps;
}

.cite.neg {
  border-top: 1px solid white;
}

#header p {
  width: 100%;
}

#header div {
  height: 1em;
  width: 11.5%;
  padding: 0px;
}

.endpoint {
  height: 50px;
  width: 10px;
  z-index: 1;
}

/*.new_card {
  background-color: #ccc;
}*/

#console {
  background-color: gray;
  color: black;
  font-weight: bold;
  font-variant: small-caps;
}

.unsafe_warning {
  background-color: black;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  position: fixed;
  top: 5px;
  z-index: 15;
}

#left_warning {
  left: 20px;
}

#right_warning {
  right: 20px;
  text-align: right;
}

.cardNum {
  position: absolute;
  margin-top: -1.6%;
  margin-left: 9%;
  color: #777;
  display: none;
}

